@import url(https://fonts.bunny.net/css?family=lato:400,700,900|montserrat:400,700,900);

:root {
  // Colours
  --main-color: #8F0050;
  --secondary-color: #FCEBA7;

  // Font Sizes
  --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);

  // Typefaces
  --font-header: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, sans-serif;
  --font-body: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, sans-serif;
}

// Basic Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header), sans-serif;
  font-weight: 700;
}

h1 {
  font-size: var(--fs-xl);
}

// Body Text
p,
blockquote {
  margin-block: 1em;
  line-height: 1.5;
  font-family: var(--font-body), sans-serif;
  //font-weight: 400;
  font-size: var(--fs-base);
}

.tree {
  overflow: hidden;
}

// Header
header {
  display: flex;
  width: 100%;

  > img {
    width: 80%;
    height: auto;
  }
}

// Main Content
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  max-width: 100%;
}

.introduction {
  padding-inline: 8vw;

  blockquote {
    font-style: italic;
    color: var(--main-color);
  }
}

// Overlay
.overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  backdrop-filter: blur(5rem);
  opacity: 80%;
  position: fixed;
  z-index: 1;
  display: none;
}

.active {
  display: block !important;
}

.tree {
  width: 100%;
  height: auto;
  position: relative;

  > img {
    width: 100%;
    height: auto;
  }
}

leaf-element {
  position: absolute;
  border: none;
  background: none;
  /*   width: 8%; */
  transform: rotateY(180deg) rotateZ(150deg) scale(0.075);
  transform-origin: center;
  cursor: pointer;
  z-index: 0;

  /*>img {
    //width: 100%;
    //height: auto;
  }*/

  &:nth-of-type(1) {
    top: 52%;
    left: 25%;
  }

  &:nth-of-type(2) {
    top: 44%;
    left: 25%;
  }

  &:nth-of-type(3) {
    top: 47%;
    left: 33%;
  }

  &:nth-of-type(4) {
    top: 28%;
    left: 81%;
  }

  &:nth-of-type(5) {
    top: 35%;
    left: 78%;
  }

  &:nth-of-type(6) {
    top: 33%;
    left: 86%;
  }
}

.bwv-display-message-box {
  display: none;
  max-height: 35%;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  z-index: 5;

  font-weight: 700;

  backdrop-filter: blur(.1rem);
  color: black;
  padding: 1rem;
  border-radius: .5rem;
  background: #fff;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0) 100%);
  box-shadow: -1px -1px 1px 1px rgba(255, 255, 255, 0.1);
  border-right: 1px solid #ffffff3b;
  border-bottom: 1px solid #ffffff3b;
  max-width: 80%;
}

.vine {
  display: none;
}

@media screen and (max-width: 40em) {
  header {
    justify-content: center;

    > img {
      margin-inline: auto;
    }
  }

  .tree {
    > img {
      display: none;
    }

    min-height: 32rem;
    height: 75vh;
  }

  .vine {
    display: initial;
    position: absolute;
    top: 15%;
    left: 15%;


    img {
      width: 80%;
      height: auto;
    }
  }

  leaf-element {
    //width: 50%;
    transform: rotateY(180deg) rotateZ(150deg) scale(0.2);

    &:nth-of-type(1) {
      top: 48%;
      left: 80%;
      transform: rotateY(180deg) rotateZ(210deg) scale(0.2);
    }

    &:nth-of-type(2) {
      top: 86%;
      left: 59%;
      transform: rotateY(180deg) rotateZ(210deg) scale(0.2);
    }

    &:nth-of-type(3) {
      top: 53%;
      left: 35%;
      transform: rotateY(180deg) rotateZ(120deg) scale(0.2);
    }

    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      display: none;
    }
  }
}

@media screen and (min-width: 75em) {
  leaf-element {
    //width: 50%;
    transform: rotateY(180deg) rotateZ(150deg) scale(0.1);
  }
}

@media screen and (min-width: 100em) {
  leaf-element {
    //width: 50%;
    transform: rotateY(180deg) rotateZ(150deg) scale(0.15);
  }
}


/* Message Box Styles */
#msg-input-area {
  transform: translateY(-40vh);
  background-color: #fffffff4;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

@media screen and (max-width: 40em) {
  #msg-input-area {
    margin-top: 2rem;
    transform: translateY(0);
  }
}

/* Override Page Padding */
.entry-content.wp-block-post-content.has-global-padding.is-layout-constrained.wp-container-core-post-content-is-layout-59fd419b.wp-block-post-content-is-layout-constrained {
  padding: 0;
}